/* z-index->
//  2 -> .mapCanvas, .mapImg
//  3 -> #settings, #map
//  4 -> .cleanBorder
//  5 -> header, canvas, #result, #escape, #copyCoords, #coords, #mapType
//  6 -> .borderSvg, #panoramaDivContainer
//  7 -> #streetLabelDivContainer
//  8 -> .panoLink, .labelDiv, .pointLabel
*/

:root{
    --panoScale: 1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: relative;
    height: 6vh;
    width: 100vw;
    box-shadow: 0 0 5px 5px black;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 5;
    background: #fafafa;
    background: linear-gradient(104deg,#fafafa 0%, #a4d5e0 100%);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas{
    pointer-events: none;
    position: absolute;
    z-index: 5;
    background-color: transparent;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1%;
    margin: 2px;
    padding: 5px;
}

.borderSvg{
    pointer-events: none;
    position: absolute;
    z-index: 6;
}

.borderPolyline{
    stroke-width: 10;
    stroke-dasharray: 3 2;
}

#goBack{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    box-shadow: 0 0 5px black; 
}

#goBack:hover{
    border: 1px solid black;
}

.hideNavbar{
    transform: translateY(-6vh);
}

#navigationBar{
    border-top: 1px solid;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 6vh;
    width: 100%;
    box-shadow: 0 0 5px 5px black;
    background: #fafafa;
    background: linear-gradient(104deg,#fafafa 0%, #a4d5e0 100%);
    transition: transform .5s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    font-size: 3vh;
}

#navigationBar > input, #navigateBtn, #errorLog{
    background-color: transparent;
    height: 4vh;
    border-radius: 10px;
    font-size: 2vh;
    border: 2px inset black;
}

#navigateBtn, #errorLog{
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .75s;
}

#navigateBtn:hover{
    background-color: rgb(0, 172, 0);
}

#errorLog{
    display: none;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

#menu:hover{
    border: 1px solid black;
}

#settingsContainer{
    border-top: 1px solid;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 6vh);
    width: clamp(200px, 100%, 250px);
    transform: translateX(100%);
    transition: transform 0.75s ease;
    background: #FAFAFA;
    background: linear-gradient(104deg,rgba(250, 250, 250, 1) 0%, rgba(180, 220, 229, 1) 0%, rgba(164, 213, 224, 1) 100%);
    padding: 10px;
    gap: 5px;
    font-size: 1.3em;
}

hr{
    width: 100%;
    border-bottom: transparent;
    border-color: black;
}

#settingsContainer > section{
    width: 100%;
}

#heading{
    font-size: 1.4rem;
    max-height: 5%;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

#checkboxes{
    max-height: 50%;
    padding: 15px;
}

#tools{
    max-height: 15%;
}

.toolIcon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    gap: 5px;
}

#form{
    max-height: 15%;
}

.inputCheckbox{
    height: 1.1em;
    width: 1.1em;
    border-radius: 20%;
    color: black;
    cursor: pointer;
}

section#form{
    width: 100%;
}

#pwdForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 5px;
}

#pwdForm > input{
    padding: 0 10px 0 10px;
    width: 100%;
    border-radius: 10px;
    height: 2em;
    border: none;
}

#modifySubmit{
    cursor: pointer;
    transition: background-color .75s;
}

#modifySubmit:hover{
    background-color: rgb(0, 172, 0);
}

#modifyLinkDiv{
    width: 100%;
}

#modifyLink{    
    width: 100%;
    border-radius: 10px;
    height: 1.5em;
    background-color: white;
    background-color: transparent;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .75s;
}

#modifyLink:hover{
    background-color: rgb(0, 172, 0);
}

#modifyLink > a{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#mapTypes{
    display: flex;
    max-height: 20%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
}


#mapTypes > img{
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: 25%;
    transform: scale(0.9);
}

#mapTypes > img:hover{
    border: 2px solid transparent;
}

.pointLabels{
    color: blue;
    scale: 4;
    position: absolute;
    z-index: 8;
}

.mapCanvas{
    position: relative;
    justify-self: stretch;
    scale: 1;
    z-index: 2;
    width: 512px;
    height: 512px;
    border: 0;
    font-size: 0;
}

.mapImgs{
    pointer-events: none;
    image-rendering: pixelated;
    z-index: 2;
    border: 0;
    display: block;
}

.labelDiv{
    position: absolute;
    pointer-events: none;
    font-size: 10px;
    color: black;
    z-index: 8;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
    padding: 0 1px 0 1px;
}

#map{
    width: calc(10 * 512px);
    height: calc(10 * 512px);
    position: absolute;
    scale: .25;
    z-index: 3;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cleanBorder{
    pointer-events: none;
    z-index: 4;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

#cB1{
    top: 0;
    width: 100%;
    height: 330px;
    transform: translateY(-2px);
    border: 1px solid rgba(255, 166, 0, 0);
}

#cB2{
    right: 0;
    height: 100%;
    width: 201px;
    transform: translateX(2px);
}

#cB3{
    bottom: 0;
    width: 100%;
    height: 331px;
    transform: translateY(2px);
}

#cB4{
    left: 0;
    height: 100%;
    width: 460px;
    transform: translateX(-2px);
}

#coords{
    position: fixed !important;
    bottom: 15px;
}

#escape{
    top: 15px;
    display: none;
}

#copyCoords{
    top: 75px;
    display: none;
    cursor: pointer;
}

#result{
    top: 45px;
    display: none;
}

#result, #escape, #copyCoords, #coords{
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

#streetLabelDivContainer, #panoramaDivContainer{
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
}

.streetLabel{
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    line-height: normal;
}

.streetPolyline{
    display: none;
}

.panoLink{
    pointer-events: all;
    z-index: 8;
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform-origin: center;
    transform: translate(-5px, -5px) scale(var(--panoScale));
    border-radius: 50%;
    background-color: rgba(180, 247, 247, 0.4);
    border: 1px solid rgba(146, 255, 255, 0.8);
}

.panoLink:hover{
    cursor: pointer;
    background-color: rgba(180, 247, 247, 0.8);
}

.polygonText{
    fill: black;
    stroke: none;
}